#### 1.print("Hello, World!") You can just as easily store a string as a variable and then print it to stdout:
my_string = "Hello, World!"
print(my_string)
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

Sample Output 0
Hello, World!

In [2]:
x="Hello, World!"
print(x)

Hello, World!

#### 2.Given an integer, n, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of  to , print Not Weird
If n is even and in the inclusive range of  to , print Weird
If n is even and greater than , print Not Weird
Input Format

A single line containing a positive integer,n .

Constraints
1<=n<=n

Output Format

Print Weird if the number is weird. Otherwise, print Not Weird.

Sample Input 0

3
Sample Output 0

Weird
Explanation 0

n=3
n is odd and odd numbers are weird, so print Weird.

Sample Input 1
24

Sample Output 1
Not Weird

Explanation 1
n=24
n>20
and n is even, so it is not weird.

In [3]:
n=int(input())
if n%2==1:
    print("Weird")  
elif n%2==0 and  2 <= n <= 5:
    print("Not Weird")
elif n%2==0 and 6 <= n <= 20:
        print("Weird")
elif n%2==0 and n > 20:
        print("Not Weird")
else:
    pass

 50

Not Weird

#### 3.The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Example
a=3
b=5
Print the following:
Input Format

The first line contains the first integer,a .
The second line contains the second integer, b.
Constraints



Output Format

Print the three lines as explained above.

Sample Input 0

3
2

Sample Output 0

5
1
6

In [1]:
a=int(input())
b=int(input())
print(a + b)
print(a - b)
print(a * b)

 5
 4

9
1
20

#### 4. The provided code stub reads two integers,  and , from STDIN.
Add logic to print two lines. The first line should contain the result of integer division,  a//b . The second line should contain the result of float division, a /b.

No rounding or formatting is necessy.
a
vExamp
 a=3
 b=5le


The result of the integer divi3//5=0sion .
The result of the float divisi3/5=0.6o
n is .Print:


Input Format

The first line contains the first integer, .
The second line contains the second integer, .

Output Format

Print the two lines as described above.

Sampl
   4   



Sample Output 0

1
1.33333333333
   3e Input 0
0
0.6y.

#### 5. The provided code stub reads two integers,  and , from STDIN.Add logic to print two lines. The first line should contain the result of integer division,  a//b . The second line should contain the result of float division, a /b.No rounding or formatting is necessary.

Example
 a=3
 b=5


The result of the integer division 3//5=0.
The result of the float division is 3/5=0.6.

Print:
0
0.6.

Input Format

The first line contains the first integer, .
The second line contains the second integer, .

Output Format

Print the two lines as described above.

Sample Input 0

   4
   3


Sample Output 0

1
1.33333333333

In [1]:
a=int(input())
b=int(input())
print(a//b)
print(a/b)

 56
 25

2
2.24

#### 6.An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

Read , the year to tes   1900<=year<=10**5
t.

Constraints


Output Format

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

Sample Input 0

1990
Sample Output 0

False
Explanation 0

1990 is not a multiple of 4 hence it's not a leap year.

In [5]:
def is_leap(year):

    # Write your logic here
    if year%100 == 0 and year%400==0:
            return True
    elif year%100 != 0 and year%4 == 0 :
        return True
    else :
        return False

print(is_leap(2014))
print(is_leap(2000))

False
True

#### 7.The included code stub will read an integer,n, from STDIN.
Without using any string methods, try to print the followin1,2,3...n.g:


Note that "" represents the consecutive values in between.

: n=5Example

Print th12345e string .

Input Format

The first line containns an integer .:
 1<=n<=150/

Constraints


Output Format

Print the li1st of intnegers from  through  as a string, without spaces.

Sample Input 0

3
Sample Output 0

123

In [6]:
n=int(input())
for i in range(n):
    print(i+1,end="")

 5

12345